
$scrollbar-track = #c6c6c6
$scrollbar-thumb = lighten($scrollbar-track, 30%)

::-webkit-scrollbar
  width 7px
::-webkit-scrollbar-track
  background $scrollbar-track
  border 3px solid transparent
  background-clip content-box
::-webkit-scrollbar-thumb
  background $scrollbar-thumb
  border 1px solid $scrollbar-track
::-webkit-scrollbar-thumb:window-inactive
  background $scrollbar-thumb

.mini-scroll::-webkit-scrollbar, .drawer-content::-webkit-scrollbar
  width 3px
.mini-scroll::-webkit-scrollbar-track, .drawer-content::-webkit-scrollbar-track
  background $scrollbar-track
  border 1px solid transparent
  background-clip content-box
.mini-scroll::-webkit-scrollbar-thumb, .drawer-content::-webkit-scrollbar-thumb
  background $scrollbar-thumb
  border 1px solid $scrollbar-track
.mini-scroll::-webkit-scrollbar-thumb:window-inactive, .drawer-content::-webkit-scrollbar-thumb:window-inactive
  background $scrollbar-thumb

hr
  margin 20px 0
  border 0
  height 2px
  background-image linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(210, 210, 210, 0.75), rgba(0, 0, 0, 0.05))

.drawer
  .item > .item-primary ~ .item-content
    margin-left 60px


.sub-toolbar
  align-items baseline
.layout-view
  .toolbar.sub-toolbar
    min-height 200px
    padding 10px 20px 0 20px
.flat
  .toolbar.sub-toolbar
    min-height 250px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.app-content
  background #F5F5F5
.app-container
  box-shadow 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12)
  margin -150px 1% 30px 2%
  z-index 2
  position absolute
  background #e6e6e6
  padding 10px
  width 96%
  min-height 200px


.layout-view
  overflow hidden
  overflow-y scroll
  background: $primary;
  background: -moz-linear-gradient(top,  $primary 0%, $primary 200px, #adadad 200px, #e6e6e6 210px, #e6e6e6 100%);
  background: -webkit-linear-gradient(top,  $primary 0%,$primary 200px,#adadad 200px,#e6e6e6 210px,#e6e6e6 100%);
  background: linear-gradient(to bottom,  $primary 0%,$primary 200px,#adadad 200px,#e6e6e6 210px,#e6e6e6 100%);


.layout-router
  transition: .2s
  background #f5f5f5


/* container */
.container
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto
@media (min-width: 768px)
  .container
    width: 750px
@media (min-width: 992px)
  .container
    width 970px
@media (min-width: 1200px)
  .container
    width 1170px

.form-container, .grid-container
  // box-shadow 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12)
  .form-title
    text-align right
    padding 15px
    background #f4f4f4
    border-radius 2px 2px 0 0
  .form-title, .form-top, .form-bottom, .grid-top, .grid-bottom
    color #9f9f9f
    font-family Play
    font-size 20px
    border-style solid
    border-color #dddddd
    border-width 1px 1px 0 1px
  .form-top, .form-bottom, .grid-top, .grid-bottom
    padding 5px 10px
    button
      padding 9px 18px
      min-height 0
      box-shadow 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2)
  .form-top
    border-width 1px 1px 0 1px
    // border-radius 2px 2px 0 0
  .form-bottom
    border-width 0 1px 1px 1px
    border-radius 0 0 2px 2px
  .form-body, .grid-body
    background #fff
    padding 10px
    border-width 1px
    border-style solid
    border-color #dddddd
  .grid-body
    padding 0
    border-width 0 1px 1px 1px

.form-floating-action
  position fixed
  bottom 20px
  right 20px
  button
    box-shadow 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2)
