.user-avatar
  display block
  background-size cover
  background-repeat no-repeat
  &.--big
    width 180px
    height 180px
    border-radius 90px
  &.--medium
    width 90px
    height 90px
    border-radius 45px
  &.--small
    width 20px
    height 20px
    border-radius 10px
