.clear-fix
  clear both

@media all and (max-width 480px)
  .hide-tiny
    display none !important
@media all and (max-width 768px)
  .hide-small
    display none !important
@media all and (max-width 1024px)
  .hide-medium
    display none !important
@media all and (max-width 1200px)
  .hide-big
    display none !important

@media all and (min-width 480px)
  .show-tiny
    display none !important
@media all and (min-width 768px)
  .show-small
    display none !important
@media all and (min-width 1024px)
  .show-medium
    display none !important
@media all and (min-width 1200px)
  .show-big
    display none !important
