@import './resources/fonts.styl'
@import './resources/util.styl'
@import './resources/layout.styl'
@import './resources/form.styl'
@import './resources/transition.styl'
@import './resources/grid.styl'
@import './resources/user.styl'

.layout-header, .layout-footer, a, button, label, .item-content
  font-family play
